@import "settings";
@import "../bower_components/foundation/scss/normalize";
@import "compass/css3";

//@import "../bower_components/foundation/scss/foundation";

// Or selectively include components
@import
//   "../bower_components/foundation/scss/foundation/components/accordion",
//   "../bower_components/foundation/scss/foundation/components/alert-boxes",
   "../bower_components/foundation/scss/foundation/components/block-grid",
   "../bower_components/foundation/scss/foundation/components/breadcrumbs",
//   "../bower_components/foundation/scss/foundation/components/button-groups",
   "../bower_components/foundation/scss/foundation/components/buttons",
   "../bower_components/foundation/scss/foundation/components/clearing",
   "../bower_components/foundation/scss/foundation/components/dropdown",
//   "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//   "../bower_components/foundation/scss/foundation/components/flex-video",
   "../bower_components/foundation/scss/foundation/components/forms",
   "../bower_components/foundation/scss/foundation/components/grid",
   "../bower_components/foundation/scss/foundation/components/inline-lists",
//   "../bower_components/foundation/scss/foundation/components/joyride",
//   "../bower_components/foundation/scss/foundation/components/keystrokes",
   "../bower_components/foundation/scss/foundation/components/labels",
//   "../bower_components/foundation/scss/foundation/components/magellan",
   "../bower_components/foundation/scss/foundation/components/orbit",
   "../bower_components/foundation/scss/foundation/components/pagination",
//   "../bower_components/foundation/scss/foundation/components/panels",
//   "../bower_components/foundation/scss/foundation/components/pricing-tables",
//   "../bower_components/foundation/scss/foundation/components/progress-bars",
//   "../bower_components/foundation/scss/foundation/components/reveal",
//   "../bower_components/foundation/scss/foundation/components/side-nav",
//   "../bower_components/foundation/scss/foundation/components/split-buttons",
 //  "../bower_components/foundation/scss/foundation/components/sub-nav",
//   "../bower_components/foundation/scss/foundation/components/switches",
//   "../bower_components/foundation/scss/foundation/components/tables",
//   "../bower_components/foundation/scss/foundation/components/tabs",
//   "../bower_components/foundation/scss/foundation/components/thumbs",
//   "../bower_components/foundation/scss/foundation/components/tooltips",
   "../bower_components/foundation/scss/foundation/components/top-bar",
   "../bower_components/foundation/scss/foundation/components/type";
//   "../bower_components/foundation/scss/foundation/components/offcanvas",
//   "../bower_components/foundation/scss/foundation/components/visibility";

$font-icon-themify: 'themify';
[class^="flaticon-"], [class*=" flaticon-"]{
  	&:before, &:after{
	  	font-size: inherit;
	  	margin: 0;
	}
}

.highlight {
    background-color: #FFFF88;
}

//fixed menu
body.down{
  .header.animateIt {
    top:0;
    visibility: visible;
  }
}

.header.animateIt{
    position:fixed;
    background: #505050;
    top: rem-calc(-90);
    left: 0;
    right: 0;
    z-index:999;
    border-bottom: none;
    visibility: hidden;
    @include transition(0.5s top cubic-bezier(.3, .73, .3, .74));
    @include box-shadow(0 2px 10px rgba(0,0,0,0.5));
    .logo-fix{
        display:block;
        width: 100px;
        margin: rem-calc(10);
    }
    .logo-normal{
        display: none;
    }
    .contain-to-grid{
        background: #505050;
        height: auto;
        &.fixed {
            @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.5));
        }
    }
    .top-bar-section{
        .has-form{
            @extend .contain-to-grid;
            height: auto;
            padding: rem-calc(15);
            border-top: 1px solid #ccc;
        }
        li:not(.has-form), li.active:not(.has-form) {
            a:not(.button) {
                @extend .contain-to-grid;
                color: $white;
                border-color: transparent;
                padding: rem-calc(8 15);
                font-size: rem-calc(15);
                i{
                    &:before{
                        font-size: rem-calc(18);
                    }
                    &.flaticon-star220{
                        &:before{
                            font-size: rem-calc(21);
                        }
                    }
                }
                &:hover{
                    background-color: #505050;
                }
            }
        }
    }
    .top-bar{
        @extend .contain-to-grid;
        .toggle-topbar.menu-icon{
            color: #fff;
            a span::after{
                @include box-shadow(0 0 0 1px #FFF,0 7px 0 1px #FFF,0 14px 0 1px #FFF);
            }
        }
        .name{
            margin-top: rem-calc(10);
        }
    }

    .search-box{
        input{
            top:  rem-calc(14);
            background: transparent;
            color: #fff;
            @include transition(none);
        }
        button{
            top: rem-calc(2);
            color: #fff;
        }
    }
}

// header page
.header{
	border-bottom: 1px solid $border-header-color;
    .header-nav{
        @include clearfix();
    }
	.top-bar-section{
        display: none;
        &.open{
            display: block;
            position: absolute;
            z-index: 99;
            background: #fff;
            width: 100%;
        }
	  	li:not(.has-form), li.active:not(.has-form) {
            border-top: 1px solid #ccc;
			a:not(.button) {
				border-left: 1px solid $border-header-color;
				color: #4d4d4d;
				line-height: rem-calc(30);
                padding: rem-calc(10 15);
			  	background: #fff;
				i {
					float: left;
				  	margin-top: -2px;
					&:before {
						font-size: rem-calc(18);
						margin: 0 rem-calc(8) 0 0;
					}
				  	&.flaticon-star220{
					  	&:before{
						  	font-size: rem-calc(21);
						}
					}
				}
                &:hover{
                    background-color: #EBEBEB;
                }
			}
		}
		.has-form{
			@media #{$medium-only} {
				padding: 0;
			}
		}
        li:not(.has-form) a:not(.button){
            @media #{$medium-only} {
                padding-left: rem-calc(12);
                padding-right: rem-calc(12);
            }
        }
	}
  	.top-bar{
        height: auto;
        overflow: visible;
	  	.name{
		  	height: auto;
		  	margin-top: rem-calc(14);
		}
	}
    .logo-normal{
        width: rem-calc(160);
        margin: rem-calc(0 8 8);
    }
	.logo-fix{
		display: none;
	}
}


.search-box{
	position: relative;
	width: rem-calc(250);
	@media #{$medium-only} {
		width: rem-calc(34);
	}
	input{
		box-shadow: none;
		padding-left: rem-calc(16);
		padding-right: rem-calc(16);
		height: rem-calc(38);
		@include border-radius(rem-calc(10));
		top: 1.6375rem;
		margin-right: rem-calc(10);
		@media #{$medium-only} {
			display: none
		}
	}
	button{
		background: none;
		color: $black;
		position: absolute;
		right: rem-calc(8);
		top: rem-calc(2);
		padding-right: rem-calc(5);
		padding-left: rem-calc(5);
		height: rem-calc(34);
		span{
			font-size: rem-calc(24);
            display: inline-block;
            margin-top: rem-calc(-6);
		}
	}
	&.show {
		input{
			width: rem-calc(250);
			position: relative;
			left: rem-calc(-220);
			display: block;
		}
	};
}
.expanded{
	.search-box{
		button{
			top: rem-calc(2);
		}
	}
}

// welcome section
.welcome{
    margin: 0 auto;
	h2{
		margin: rem-calc(30 0 12);
		font-size: rem-calc(30);
		line-height: rem-calc(34);
		font-family: $font-family-ralewhite;
		font-weight: 300;
		padding-bottom: rem-calc(10);
        letter-spacing: rem-calc(0.4);
		span{
            padding-bottom: rem-calc(10);
			display: block;
			font-size: rem-calc(20);
			line-height: rem-calc(29);
		}
	}
    p{
        font-size: rem-calc(16);
        line-height: rem-calc(26);
        margin-bottom: rem-calc(32);
    }
    &.new{
        padding-top: rem-calc(15);
        h2{
            margin: rem-calc(25 0 12);
            span{
                font-size: rem-calc(20);
                padding-bottom: 0;
            }
        }
        p{
            margin-bottom: rem-calc(30);
        }
    }
}

// gallery list
.gallery-list{
	.filter-gallery{
		margin-bottom: rem-calc(10);
		> div > span{
			font-size: rem-calc(18);
			padding: rem-calc(6) rem-calc(15);
			@include border-radius(rem-calc(10));
		}
		.filter-content{
			padding: rem-calc(10);
			margin-top: rem-calc(30);
			background: #ebebeb;
			outline: none;
			display: none;
			position: relative;
			padding-top: rem-calc(20);
			&:before{
				content: '';
				width: 0; 
				height: 0; 
				border-left: rem-calc(28) solid transparent;
				border-right: rem-calc(28) solid transparent;
				border-bottom: rem-calc(20) solid #ebebeb;
				position: absolute;
				top: -1.25rem;
				left: 50%;
                margin-left: rem-calc(-28);
			}
		}
		.type-show{
			padding-top: rem-calc(10);
		}

	}
}

.dropdown{
	@include border-radius(rem-calc(10));
	padding: rem-calc(8 20 8 10);
	position: relative;
	border: 1px solid $border-header-color;
	background: $white;
	display: inline-block;
	width: rem-calc(260);
	margin-bottom: rem-calc(20);
	text-align: left;
  	cursor: pointer;
	> span{
		position: absolute;
		right: 5px;
		border-left: 1px solid $black;
		padding-right: rem-calc(5);
		padding-left: rem-calc(10);
		cursor: pointer;
		font-size: rem-calc(25);
	}
}

.f-dropdown {
    &:focus{
        outline: none;
    }
    li.active {
        background: #eee;
    }
}
.application-filter{
	a{
	  	font-size: rem-calc(15);
	  	color: $primary-color;
	  	margin-left: rem-calc(10);
	  	&:first-child{
		  	margin-left: 0;
		}
	  	&:before{
		  font-family: Flaticon;
		  content: "\e001";
		}
	  	&.active{
		  	&:before{
			  	content: "\e003";
			}
		}
	}
}

.tags{
	margin-bottom: rem-calc(20);
}

.tag-name{
	display: inline-block;
	margin: rem-calc(5 2);
	border: 1px solid $border-header-color;
	padding: rem-calc(1 10);
    font-size: rem-calc(14.5);
	color: $black;
	@include border-radius(rem-calc(10));
 	&.active{
		background: $black;
		color: $white;
		cursor: pointer;
	  	border-color: transparent;
		&:after{
			content: "\e646";
			font-family: $font-icon-themify;
			font-size: rem-calc(12);
			display: inline-block;
			padding-left: rem-calc(8);
		}
	}
}

.line{
	span{
		display: inline-block;
		border-bottom: 1px solid $border-header-color;
		width: 38px;
	}
}

.gallery-thumb{
	.gallery-img{
		position: relative;
		a span {
			z-index: 9;
			font-size: rem-calc(38);
			@include border-radius(100%);
			background: $white;
			color: $black;
			position: absolute;
			padding: rem-calc(16);
			left: 40%;
			top: 35%;
			cursor: pointer;
			visibility: hidden;
		}
		img{
			width: 100%;
		}
		a:hover{
			> span{
				visibility: visible;
			}
		}
	  	&:hover ~ h4 a{
		  	text-decoration: underline;
		}
	}
	h4{
		font-size: rem-calc(14);
		line-height: rem-calc(18);
		font-family: $font-family-ralewhite;
		font-weight: 500;
		margin: rem-calc(10) 0 rem-calc(5);
	  	a{
		  	color:#4d4d4d;
		  	&:hover{
			  	text-decoration: underline;
			}
		}
		&:first-letter{
		  	text-transform: uppercase;
		}
	}
	p{
		font-size: rem-calc(12);
		line-height: rem-calc(14);
	}
}

.pagination-wrapper{
	display: table;
	width: 100%;
	.pagination{
		display: inline-block;
        .disabled{
            color: #999;
            cursor: default;
        }
        li{
            span, a, button{
                font-weight: 700;
                letter-spacing: rem-calc(0.5);
            }
            &.active {
                a, span {
                    color: #999;
                }
            }
        }
	}
}

.content{
	margin-top: rem-calc(16);
}

.socials{
	margin: rem-calc(60) auto 0;
	display: table;
	width: 100%;
    max-width: rem-calc(610);
	h2{
		font-size: rem-calc(24);
		line-height: rem-calc(26);
		padding-bottom: rem-calc(8);
		font-family: $font-family-ralewhite;
		margin-bottom: 0;
	}
    p{
        font-size: rem-calc(15);
        line-height: rem-calc(19);
    }

	.inline-list{
		display: inline-block;
		font-size: rem-calc(14);
        li {
            margin-left: rem-calc(14);
            &:first-child {
                margin-left: 0;
            }
        }
		a{
			font-size: 0;
            text-indent: rem-calc(1000);
			color: $black;
            display: block;
            width: rem-calc(42);
            height: rem-calc(42);
			background: url(../images/socials.png) no-repeat;
            background-size: 148px auto;
		}
        .tw{
            background-position: -53px 0;
        }
        .pin{
            background-position: -106px 0;
        }
        .ins{
            background-position: 0 bottom;
        }
        .mail{
            background-position: -53px bottom;
        }
	}
}

.shared-this{
	border-top: 1px solid $border-header-color;
	padding-top: rem-calc(12);
	margin-top: rem-calc(20);
	.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
		height: rem-calc(25);
	}
	.stButton .stButton_gradient{
		height: rem-calc(21);
	}
	p{
		margin-bottom: rem-calc(10);
	}
}

.related-gallery{
	h3{
		font-size: rem-calc(20);
		font-family: $font-family-ralewhite;
		font-weight: 300;
		border-bottom: 1px solid $border-header-color;
		margin-bottom: rem-calc(45);
		span{
			display: inline-block;
			background:$white;
			position: relative;
			top: rem-calc(13);
			padding: rem-calc(0 10);
		}
	}
}


.breadcrumbs{
	> *{
		&:before{
			font-family: $font-icon-themify;
			color: $black;
		}
		&:first-child{
			&:before{
			  	font-family: Flaticon;
				content: "\e002";
				margin-right: rem-calc(10);
			}
		}
	}
}

.right-content{
    margin-top: rem-calc(12);
	> div > a{
		color: $black;
		&:hover{
				color: $primary-color;
			}
        &.disabled, &.disabled:hover{
            color: #ccc;
            cursor: default;
        }
	}
	.next-prev{
		border-bottom: 1px solid $border-header-color;
		padding-bottom: rem-calc(48);
		a{
		  	font-size: rem-calc(14);
			span{
				font-size: rem-calc(28);
				position: relative;
				top: rem-calc(6);
			}
		}
	}
	.close{
		@include clearfix;
		margin-top: rem-calc(5);
		margin-bottom: rem-calc(10);
		font-size: rem-calc(22);
		span{
			font-size: rem-calc(24);
			position:relative;
			top: rem-calc(3);
		}
	}
	h3{
		font-size: rem-calc(20);
		line-height: rem-calc(22);
		font-family: $font-family-ralewhite;
		margin-bottom: rem-calc(20);
	}
	h2{
		font-size: rem-calc(26);
		line-height: rem-calc(29);
		font-family: $font-family-ralewhite;
	}
	.more-btn{
		padding-top: rem-calc(6);
		padding-bottom: rem-calc(6);
		margin-bottom: rem-calc(5);
	}
	.info{
		list-style: none;
		margin: 0;
		font-size: rem-calc(14);
        .link{
            color: #111;
            &:hover{
                text-decoration: underline;
            }
        }
	}
	.des{
		margin-bottom: rem-calc(20);
		p{
			font-size: rem-calc(14);
		}
	}
}


.next-button-template{
	right: rem-calc(10);
	background: $white;
	width: rem-calc(50);
	height: rem-calc(50);
	@include border-radius(100%);
	span{
		border: none;
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: rem-calc(-25);
		&:before{
			content: "\e649";
			color: $black;
			font-size: rem-calc(30);
			font-family: $font-icon-themify;
			position: absolute;
			text-indent: 0;
			left: rem-calc(-8);
		}
	}
}

.prev-button-template{
	left: rem-calc(10);
	background: $white;
	width: rem-calc(50);
	height: rem-calc(50);
	@include border-radius(100%);
	span{
		border: none;
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: rem-calc(-25);
		&:before{
			content: "\e64a";
			color: $black;
			font-size: rem-calc(30);
			font-family: $font-icon-themify;
			position: absolute;
		  	text-indent: 0;
		  	left: rem-calc(8);

		}
	}
}

.orbit-container{
	.orbit-next{
		@extend .next-button-template;
	}
	.orbit-prev{
		@extend .prev-button-template;
	}

	.orbit-prev:hover, .orbit-next:hover{
		background: $primary-color;
		span{
			&:before{
				color: $white;
			}
		}
		span{
			&:before{
				color: $white;
			}
		}
	}
	.orbit-caption{
		text-align: left;
	}
}

.gallery-slide{
	position: relative;
	.orbit-slides-container{
		background: $oil;
		text-align: center;
		img{
			max-height: 432px;
			display: inline-block;
		}

	}
	.view-large{
		position: absolute;
		top: rem-calc(10);
		right: rem-calc(10);
		padding: rem-calc(5);
		background: $white;
		font-size: rem-calc(35);
		color: $black;
		z-index: 99;
		&:hover{
			background: $primary-color;
			color: $white;
		}
	}
	.thumbs{
        display: none;
		margin-top: rem-calc(5);
		ul{
			margin-top: rem-calc(5);
			img{
				width: 100%;
				border: 1px solid transparent;
			}
			@include block-grid(
	    		$spacing: rem-calc(5)
			);
			li{
			  	cursor: pointer;
				width: rem-calc(127);
				height: rem-calc(85);
				background: #EBEBEB;
			  	margin-left: rem-calc(4);
			  	padding: 0;
			  	&:first-child{
				  	margin-left: rem-calc(2);
				}
				img{
					&:hover{
					  	@include opacity(0.5);
					}
				}
			}
			.active{
				img{
				  	@include opacity(0.5);
				}
			}
		}
	}
	.clearing-main-next{
		@extend .next-button-template;
		top: 50%;
		span{
			&:before{
				left: rem-calc(10);
				top: rem-calc(12);
			}
		}
	}
	.clearing-main-prev{
		@extend .prev-button-template;
		top: 50%;
		span{
			&:before{
				left: rem-calc(5);
				top: rem-calc(12);
			}
		}
	}
	.clearing-main-next:hover, .clearing-main-prev:hover{
		background: $primary-color;
		span{
			&:before{
				color: $white;
			}
		}
		span{
			&:before{
				color: $white;
			}
		}
	}

	.clearing-close{
		background: $white;
		color: $black;
		padding: rem-calc(3 10 6);
		&:before{
			content: "Close ";
			color: $black;
			font-weight: 400;
			font-size: rem-calc(18);
			position: relative;
			top: rem-calc(-5)
		}
	}
	.clearing-caption{
		text-align: left;
		h4{
			font-size: rem-calc(22);
			line-height: rem-calc(24);
			font-weight: 600;
			margin-bottom: rem-calc(5);
		}
		p{
			line-height: rem-calc(16);
			font-size: rem-calc(14);
		}
	}
}
li.no-results{
    width: 100%;
    max-width: rem-calc(720);
    margin: rem-calc(18) auto 0;
    float: none;
    background: #E5F3EC;
    @include border-radius(rem-calc(20));
    @include clearfix();
    padding: rem-calc(26 10);
    h2{
        margin: rem-calc(0 0 12);
        font-size: rem-calc(30);
        line-height: rem-calc(34);
        font-family: $font-family-ralewhite;
        font-weight: 300;
        padding-bottom: rem-calc(10);
        letter-spacing: rem-calc(0.4);
    }
    .button{
        font-size: rem-calc(16);
        padding: rem-calc(6) rem-calc(20);
        @include border-radius(rem-calc(10));
    }
}
.search-header {
    @include clearfix;
    .title{
        margin: 0 1.1rem;
        float: left;
    }
    .search-inline {
        @extend .search-box;
        float: left;
        button{
            top: rem-calc(5);
            margin: 0;
            padding: 0;
        }
    }
}
.search-results{
    li{
        @extend .gallery-thumb;
        @include clearfix;
        list-style: none;
        padding-top: rem-calc(10);
        border-top: 1px solid #eee;
        > a {
            float: left;
            margin: rem-calc(0 15 10 0);
        }
    }
}

.orbit-container .orbit-timer{
  	right: auto;
  	left: 10px;
  	span{
	  	right: auto;
	  	left: 0;
	}
  	.orbit-progress{
	  	right: auto;
	  	left: 20px;
	}
}

.fancybox-wrap {
  	.fancybox-skin{
	  	@include border-radius(0);
	}
	.fancybox-close {
		background: #fff;
		width: auto;
		height: auto;
		top: rem-calc(10);
		right: rem-calc(10);
		padding: rem-calc(5 10);
		color: $black;
		font-size: rem-calc(20);
	}
  	.fancybox-title{
	   padding: rem-calc(20);
	}
}

.footer{
	background: url(../images/bg-footer.png) 50% 0 no-repeat;
	padding: rem-calc(25 0 5);
	font-size: rem-calc(14);
    background-size: 100%;
	.links{
		margin-bottom: rem-calc(10);
		a{
			color: $black;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.copyright{
		font-size: rem-calc(12);
	}
}

@media only screen and (min-width: 40.063em) {
    .header{
        .header-nav{
            padding-left: rem-calc(10);
            padding-right: rem-calc(10);
        }
        .top-bar-section{
            display: block;
            .has-form{

            }
            li:not(.has-form), li.active:not(.has-form) {
                border-top: none;
                a:not(.button) {
                    padding: rem-calc(34 15 26);
                    i {
                        &:before {
                            font-size: rem-calc(24);
                        }
                        &.flaticon-star220{
                            &:before{
                                font-size: rem-calc(27);
                            }
                        }
                    }
                }
            }
        }
        .logo-normal{
            width: 221px;
            margin: 0;
        }
        &.animateIt {
            .top-bar-section {
                li:not(.has-form), li.active:not(.has-form) {
                    a:not(.button) {
                        padding: rem-calc(22 15 11);
                    }
                }
                .has-form{
                    border-top: none;
                    padding-top: 0;
                }
            }
            .search-box button {
                top: rem-calc(15);
            }
            .logo-fix{
                width: 150px;
            }
        }
    }
    .search-box button{
        top: rem-calc(28);
    }

    // welcome section
    .welcome{
        max-width: rem-calc(789);
        h2{
            font-size: rem-calc(38);
            line-height: rem-calc(40);
            span{
                font-size: rem-calc(26);
                line-height: rem-calc(29);
            }
        }
        p{
            font-size: rem-calc(18);
            line-height: rem-calc(29);
        }
        &.new{
            h2{
                span{
                    font-size: rem-calc(23);
                }
            }
            p{
                margin-bottom: rem-calc(50);
            }
        }
    }

    li.no-results{
        h2{
            font-size: rem-calc(38);
            line-height: rem-calc(40);
        }
        .button{
            font-size: rem-calc(18);
        }
    }

    .right-content{
        padding-left: 0;
        margin-top: 0;
    }

    .gallery-slide{
        .orbit-slides-container img{
            max-width: 650px;
        }
        .thumbs{
            display: block;
        }
    }
    .related-gallery{
        h3{
            font-size: rem-calc(28);
            span{
                top: rem-calc(18);
                padding: 0 rem-calc(20);
            }
        }
    }
    .footer{
        background-size: auto;
    }
}