@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";

$font-opensans: 'Open Sans', Arial, Verdana, sans-serif;

body{
    font-family: $font-opensans;
    font-size: 100%;
    background-color: #F7F7F7;
}

a{
    color: #444;
    text-decoration: none;
    outline: none;
    &:hover{
        color: #b00;
        text-decoration: underline;
    }
    &:focus{
        outline: none;
    }
}

i{
    margin: 0 8px 0 20px;
    color: #b00;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

.rte{
    *:empty{
        display: none;
    }
    > *{
        margin-bottom: 10px;
    }
    font-size: 14px;
    line-height: 20px;
    b, strong{
        font-weight: 600;
    }
    i, em{
        font-style: italic;
    }
    h2,h3,h4,h5{
        font-weight: 600;
    }
    ul{
        list-style: disc inside;
    }
    ol{
        list-style: decimal inside;
    }
    li{
        padding: 3px 0;
    }
    table{
        
    }
}

@import "header";
@import "rail";
@import "content";
@import "scrolling";
@import "footer";
@import "fancy-box";

.banner-ext{
    display: none;
}

.phone{
    display: block !important;
}
.desktop{
    display: none !important;
}
.site-wrapper{
    padding-top: 32px;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    .phone{
        display: none !important;
    }
    .desktop{
        display: block !important;
    }
    .footer .menu-footer .mainmenu>li{
        float: left;
        width: 33.3%;
        margin-top: 0;
    }
    .module-content .content.list article:nth-child(3n+1),
    .widget .content-widget.list article:nth-child(3n+1) {
        clear: left;
    }
}

@media only screen and (min-width: 992px) {
    .banner{
        padding-left: 0;
    }
    .main-container{
        padding-left: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .banner{
        //padding-right: 0;
    }
    .banner-ext{
        display: block;
    }
    .module-content .content.list article figure img{
        width: 150px;
    }
    .module-content .content.list article:nth-child(3n+1),
    .widget .content-widget.list article:nth-child(3n+1) {
        clear: none;
    }
    .module-content .content.list article:nth-child(4n+1),
    .widget .content-widget.list article:nth-child(4n+1) {
        clear: left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {

}