/* line 348, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.1/";
}

/* line 352, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 357, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 362, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 367, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 372, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 377, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em;
}

/* line 382, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 387, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em;
}

/* line 392, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 397, ../../sass/vendor/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 404, ../../sass/vendor/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 407, ../../sass/vendor/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 413, ../../sass/vendor/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 417, ../../sass/vendor/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 430, ../../sass/vendor/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 433, ../../sass/vendor/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 435, ../../sass/vendor/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 439, ../../sass/vendor/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 446, ../../sass/vendor/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 447, ../../sass/vendor/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 172, ../../sass/vendor/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 173, ../../sass/vendor/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 451, ../../sass/vendor/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 456, ../../sass/vendor/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 462, ../../sass/vendor/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 465, ../../sass/vendor/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 475, ../../sass/vendor/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 478, ../../sass/vendor/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 3, ../../sass/app/partials/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 6, ../../sass/app/partials/_general.scss */
.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 8px;
  color: #fff;
}

/* line 3, ../../sass/app/partials/_form.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
textarea {
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: border-color, box-shadow;
  -o-transition-property: border-color, box-shadow;
  -webkit-transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow;
  -moz-transition-duration: 0.15s, 0.15s;
  -o-transition-duration: 0.15s, 0.15s;
  -webkit-transition-duration: 0.15s, 0.15s;
  transition-duration: 0.15s, 0.15s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  margin: 0;
}
/* line 30, ../../sass/app/partials/_form.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #44B6AE;
}

/* line 2, ../../sass/app/partials/_upload.scss */
.view-thumbnail [class*=column] + [class*=column]:last-child {
  float: left;
}
/* line 5, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone {
  max-height: 25rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
/* line 9, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone table {
  border: none;
  width: 100%;
  table-layout: fixed;
  margin: 0;
}
/* line 15, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone strong {
  display: block;
  text-align: right;
  margin-bottom: 0.1875rem;
}
/* line 19, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone strong span {
  font-size: 0.8125rem;
  color: #fff;
  padding: 0 0.1875rem;
}
/* line 25, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .edit {
  height: 15.625rem;
  overflow: hidden;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 36, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .edit .overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/processing.gif) no-repeat center center rgba(255, 255, 255, 0.6);
}
/* line 45, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .caption {
  padding: 0;
}
/* line 47, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .caption textarea {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 52, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .controls {
  font-size: 1rem;
}
/* line 54, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .controls label {
  float: left;
}
/* line 56, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .controls label input {
  margin: 0;
}
/* line 60, ../../sass/app/partials/_upload.scss */
.view-thumbnail .photo-zone .controls a {
  float: right;
}

/* line 2, ../../sass/app/partials/_tags.scss */
.text-core .text-tags {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.1875rem;
  cursor: text;
  font-size: 0.875rem;
  top: 1.375rem;
}
/* line 11, ../../sass/app/partials/_tags.scss */
.text-core .text-tags.text-tags-on-top {
  z-index: 2;
}
/* line 14, ../../sass/app/partials/_tags.scss */
.text-core .text-tags .text-tag {
  float: left;
}
/* line 17, ../../sass/app/partials/_tags.scss */
.text-core .text-tags .text-button {
  -moz-border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  border-radius: 1.25rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  border: 1px solid #9daccc;
  background: #e2e6f0;
  color: #000;
  padding: 0 1.5625rem 0 0.625rem;
  margin: 0 0.1875rem 0.1875rem 0;
  cursor: pointer;
}
/* line 29, ../../sass/app/partials/_tags.scss */
.text-core .text-tags .text-remove {
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
  display: block;
  width: 0.6875rem;
  height: 0.6875rem;
  background: url(../images/close.png) no-repeat;
}
/* line 37, ../../sass/app/partials/_tags.scss */
.text-core .text-tags .text-remove:hover {
  background-position: 0 -0.6875rem;
}
/* line 40, ../../sass/app/partials/_tags.scss */
.text-core .text-tags .text-remove:active {
  background-position: 0 -1.375rem;
}
/* line 45, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #9daccc;
  width: 100%;
  max-height: 100px;
  padding: 1px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}
/* line 58, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown.text-position-below {
  margin-top: 1px;
}
/* line 61, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown.text-position-above {
  margin-bottom: 1px;
}
/* line 64, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown .text-suggestion {
  padding: 0.1875rem 0.3125rem;
  cursor: pointer;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}
/* line 68, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown .text-suggestion.text-selected {
  color: #fff;
  background: #6d84b4;
}
/* line 72, ../../sass/app/partials/_tags.scss */
.text-core .text-dropdown .text-suggestion em {
  font-style: normal;
  text-decoration: underline;
}

/* line 2, ../../sass/app/partials/_sortable.scss */
.related .connected {
  height: 24.4375rem;
  max-height: 24.4375rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 10, ../../sass/app/partials/_sortable.scss */
.search .search-box {
  padding: 0.9375rem 0.3125rem 1.25rem;
  border-bottom: 1px solid #3598dc;
  margin-bottom: 1.25rem;
}
/* line 15, ../../sass/app/partials/_sortable.scss */
.search .connected {
  height: 18.75rem;
  max-height: 18.75rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 23, ../../sass/app/partials/_sortable.scss */
.connected, .sortable, .exclude, .handles {
  margin: auto;
  padding: 0;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 29, ../../sass/app/partials/_sortable.scss */
.connected li, .sortable li, .exclude li, .handles li {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  color: #1C94C4;
  margin: 5px;
  padding: 5px;
}

/* line 38, ../../sass/app/partials/_sortable.scss */
.handles span {
  cursor: move;
}

/* line 41, ../../sass/app/partials/_sortable.scss */
.sortable.grid {
  overflow: hidden;
}
/* line 43, ../../sass/app/partials/_sortable.scss */
.sortable.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}

/* line 52, ../../sass/app/partials/_sortable.scss */
li.highlight {
  background: #FEE25F;
}
/* line 55, ../../sass/app/partials/_sortable.scss */
li.disabled {
  opacity: 0.5;
}
/* line 58, ../../sass/app/partials/_sortable.scss */
li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
  height: 30px;
}

/* line 1, ../../sass/app/partials/_duplicated.scss */
.field-color-name, .field-product-name, .field-gallery-name, .field-tag-name {
  position: relative;
}
/* line 3, ../../sass/app/partials/_duplicated.scss */
.field-color-name:after, .field-product-name:after, .field-gallery-name:after, .field-tag-name:after {
  position: absolute;
  bottom: 7px;
  right: 9px;
  font-family: FontAwesome;
  color: #0171B8;
}
/* line 11, ../../sass/app/partials/_duplicated.scss */
.field-color-name.duplicated:after, .field-product-name.duplicated:after, .field-gallery-name.duplicated:after, .field-tag-name.duplicated:after {
  content: "\f071";
  color: greenyellow;
}

/* line 11, ../../sass/app/global.scss */
body {
  background-color: #e6e9f2;
}
/* line 13, ../../sass/app/global.scss */
body .copyright {
  color: #000;
  background: none;
}

/* line 19, ../../sass/app/global.scss */
.site-wrapper .breadcrumbs {
  margin: 0.9375rem 0;
  border-radius: 0.3125rem;
  background: #fff;
}
/* line 23, ../../sass/app/global.scss */
.site-wrapper .breadcrumbs > * a {
  color: #0171B8;
}
/* line 26, ../../sass/app/global.scss */
.site-wrapper .breadcrumbs .active {
  color: #1cc7ff;
}

/* line 31, ../../sass/app/global.scss */
.row.wrapper {
  width: 100%;
  max-width: 100%;
}

/* line 36, ../../sass/app/global.scss */
.top-navigation .top-part-no-padding {
  background: #0171B8;
  border-bottom: 1px solid #e6e9f2;
  min-height: 4.375rem;
}
/* line 41, ../../sass/app/global.scss */
.top-navigation .top-menu {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background: #FFFFFF;
  border-bottom: 1px solid #e6e9f2;
  min-height: 4.375rem;
}
/* line 49, ../../sass/app/global.scss */
.top-navigation .logo-bg img {
  max-height: 3.125rem;
  margin: 0.5625rem 0;
}
/* line 53, ../../sass/app/global.scss */
.top-navigation .logo-bg a {
  font-size: 2rem;
  margin: 0.625rem 0 0;
  color: #fff;
  float: right;
}
/* line 58, ../../sass/app/global.scss */
.top-navigation .logo-bg a:hover {
  color: #B9C2DB;
}
/* line 63, ../../sass/app/global.scss */
.top-navigation .top-search {
  padding-top: 0.375rem;
}
/* line 65, ../../sass/app/global.scss */
.top-navigation .top-search input {
  -moz-border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  border-radius: 1.25rem;
  padding: 0 0.9375rem;
}
/* line 70, ../../sass/app/global.scss */
.top-navigation .howdy {
  text-align: right;
  line-height: 3rem;
}
/* line 74, ../../sass/app/global.scss */
.top-navigation .logout {
  text-align: center;
}
/* line 76, ../../sass/app/global.scss */
.top-navigation .logout a {
  font-size: 2rem;
  color: #0171B8;
}
/* line 79, ../../sass/app/global.scss */
.top-navigation .logout a:hover {
  color: #f16c65;
}

/* line 85, ../../sass/app/global.scss */
.side-nav {
  min-height: 33.125rem;
  padding: 0 0 0.9375rem;
  background: #fff;
  margin: 0.9375rem 0 0.9375rem 0.9375rem;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}
/* line 91, ../../sass/app/global.scss */
.side-nav .group-item {
  color: #0171B8;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.25rem 0 0 0.9375rem;
}
/* line 98, ../../sass/app/global.scss */
.side-nav li a:not(.button) {
  line-height: 1.875rem;
  color: #333;
}
/* line 102, ../../sass/app/global.scss */
.side-nav li.active a:not(.button) {
  border-left: 0.1875rem solid #0171B8;
  margin-left: -0.1875rem;
  background: #f2f6f9;
}
/* line 107, ../../sass/app/global.scss */
.side-nav li i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* line 113, ../../sass/app/global.scss */
.portlet {
  padding: 0.75rem 1.25rem 0.9375rem;
  background: #fff;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  margin-top: 0.9375rem;
}
/* line 118, ../../sass/app/global.scss */
.portlet .portlet-title {
  border-bottom: 1px solid #eee;
  min-height: 2.75rem;
}
/* line 172, ../../sass/vendor/foundation/components/_global.scss */
.portlet .portlet-title:before, .portlet .portlet-title:after {
  content: " ";
  display: table;
}
/* line 173, ../../sass/vendor/foundation/components/_global.scss */
.portlet .portlet-title:after {
  clear: both;
}
/* line 122, ../../sass/app/global.scss */
.portlet .portlet-title .caption {
  float: right;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0171B8;
}
/* line 130, ../../sass/app/global.scss */
.portlet .portlet-title .action {
  float: left;
}
/* line 132, ../../sass/app/global.scss */
.portlet .portlet-title .action a {
  margin: 0 0.625rem 0.625rem 0;
}
/* line 137, ../../sass/app/global.scss */
.portlet .portlet-body.has-padding {
  padding-top: 0.9375rem;
}
/* line 140, ../../sass/app/global.scss */
.portlet.small {
  border: 1px solid #0171B8;
  padding: 0;
}
/* line 143, ../../sass/app/global.scss */
.portlet.small .portlet-title {
  background: #3598dc;
  min-height: initial;
}
/* line 146, ../../sass/app/global.scss */
.portlet.small .portlet-title .caption {
  color: #fff;
  font-size: 0.875rem;
  padding: 0.125rem 0.625rem;
}
/* line 150, ../../sass/app/global.scss */
.portlet.small .portlet-title .caption i {
  margin-right: 0.3125rem;
}

/* line 158, ../../sass/app/global.scss */
.table {
  width: 100%;
}
/* line 161, ../../sass/app/global.scss */
.table tr th {
  font-weight: 500;
  color: #008CBA;
}
/* line 164, ../../sass/app/global.scss */
.table tr th .asc:after, .table tr th .desc:after {
  color: #0171B8;
  font-family: FontAwesome;
  margin-left: 0.3125rem;
}
/* line 169, ../../sass/app/global.scss */
.table tr th .asc:after {
  content: "\f106";
}
/* line 172, ../../sass/app/global.scss */
.table tr th .desc:after {
  content: "\f107";
}
/* line 176, ../../sass/app/global.scss */
.table tr td {
  vertical-align: top;
}
/* line 181, ../../sass/app/global.scss */
.table .fa {
  font-size: 1rem;
  margin: 0 0.3125rem;
}
/* line 184, ../../sass/app/global.scss */
.table .fa.fa-eye {
  color: #a0d3e8;
}
/* line 187, ../../sass/app/global.scss */
.table .fa.fa-pencil-square-o {
  color: #008CBA;
}
/* line 190, ../../sass/app/global.scss */
.table .fa.fa-trash-o {
  color: #e7e7e7;
}
/* line 194, ../../sass/app/global.scss */
.table input[type='number'] {
  width: 60px;
}

/* line 198, ../../sass/app/global.scss */
.summary {
  font-size: 0.8125rem;
}

/* line 201, ../../sass/app/global.scss */
.form-group {
  margin-bottom: 0.9375rem;
  position: relative;
}
/* line 204, ../../sass/app/global.scss */
.form-group .control-label {
  margin-bottom: 0.1875rem;
}
/* line 207, ../../sass/app/global.scss */
.form-group .help-block {
  position: absolute;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.75rem 0.3125rem 0.9375rem;
  z-index: 9;
  background: #444;
  color: #fff;
  left: 25%;
}
/* line 215, ../../sass/app/global.scss */
.form-group .help-block:before {
  content: "\f0d8";
  color: #444;
  position: absolute;
  top: -1.625rem;
  z-index: 10;
  font-family: FontAwesome;
  font-size: 1.75rem;
}
/* line 224, ../../sass/app/global.scss */
.form-group .help-block:empty {
  display: none;
}

/* line 229, ../../sass/app/global.scss */
#gallery-application {
  overflow: auto;
  padding: 0.625rem 0;
}
/* line 232, ../../sass/app/global.scss */
#gallery-application label {
  float: left;
  width: 49%;
}

/* line 237, ../../sass/app/global.scss */
.user-form table tr td {
  padding: 0;
}
/* line 239, ../../sass/app/global.scss */
.user-form table tr td .input-group {
  position: relative;
  padding-right: 0.625rem;
}
/* line 242, ../../sass/app/global.scss */
.user-form table tr td .input-group .input-group-addon {
  position: absolute;
  right: 1.25rem;
  top: 0.625rem;
  z-index: 1;
}
