.support-config{
    margin: 0;
    list-style: none;
    li{
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        height: 153px;
    }
    .sortable-placeholder{
        border: 1px dashed #ccc;
    }
}
.price-zone{
    strong{
        display: block;
        text-align: right;
        margin-top: 26px;
    }
}